body {
	background: #222;
	color: #ddd;
}

#meta {
    width: 90%;
	margin: 0px auto;
}

h1 {
	margin-left: -25px;
	font-size: 30px;
	font-family: Verdana, sans-serif !important;
	text-align: center;
	color: white;
}

a { color: white !important; }
#meta a:hover {
    background-color: #333;
    color: #fc0;
    text-decoration: none;
}

#meta p, #meta li {
	margin: 0.2em;
}

h3 {
    font-size: 16px;
    border-bottom: 1px solid #666;
    color: #aaa;
    padding: 3px;
}
h1 a, h2 a {
    text-decoration: none;
    color: inherit;
}


#posts th {
    border-bottom: 1px solid #555;
    text-align: center;
    font-weight: normal;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 16px;
    padding: 3px;
}
#posts tbody tr:hover { background-color: #333; }
#posts td {
    padding: 0.3em;
    border-bottom: 1px solid #555;
}
#posts a:link, #posts a:visited {
	text-decoration: none;
}
#posts tbody tr.notice { background-color: #333; }

.comment {
	background-image: none;
}
#attachments ul { list-style: none; margin: 0.6em; padding: 0; }
#attachments ul li { margin-bottom: 0.4em; }

input, select {
	background: #111;
	color: #ddd;
	border: 1px solid #666;
}

textarea {
	background: #111;
	color: #ddd;
	border: 1px solid #666;
    line-height: 1.5;
    font-size: 13px;
    font-family: verdana, sans-serif;
    padding: 0.1em 0.5em;
}

#pages .first a, #pages .last a, #pages  .next a, #pages .prev a {
    border: 1px solid #666;
    background-color: #111;
}

.star { color: #f99; }
.highlight { background-color: yellow; color: purple; }

#nav { margin-top: 1em; }
