body {
    margin: 0;
    font-family: arial, verdana, sans-serif;
	background-color: #333;
    font-size: 13px;
	line-height: 1.5;
}

#meta-admin {
    border: 5px solid #ccc;
    margin: 20px;
    background: url(bg.png) repeat-x #fff;
}

a {
    color: #4E9A06;
}
a:hover {
    background-color: #efc;
}
small {
	font-size: 11px;
}

h1 {
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 2.4em;
    margin: 20px 20px 0 20px;
}

h2 {
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 1.4em;
    margin-bottom: 0.5em;
	margin-top: 0;
}

table {
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: #eee;
    border: 1px solid #ccc;
}
table td {
    border: 1px solid #ccc;
}
table th, table td {
    padding: 0.5em;
}

div.left {
    float: left;
}
div.right {
    float: right;
}

.description {
	font-size: 11px;
	color: #666;
}

.flash {
    padding: 0.5em;
    width: 50%;
    border: 1px solid red;
    background-color: pink;
}
.flash p {
    margin: 0;
}
.pass {
    border: 1px solid green;
    background-color: lightgreen;
}

#header {
    padding: 0.5em 1em 1.5em 1em;
    border-bottom: 1px solid #ccc;
}
#header a {
	margin: 0 0.3em;
}
#header p {
    margin: 0;
}

#body {
    margin: 20px;
}

#boards .name {
    width: 150px;
}
#boards .name form { display: inline; }
#boards td.actions {
    color: #999;
}

form p {
	clear: both;
}
dt {
	float: left;
    width: 10em;
}
dd {
	margin-bottom: 0.5em;
	clear: right;
}

#header, #body {
    clear: both;
}

#users .name {
    width: 200px;
}

#users .level {
    text-align: center;
}

ul.tabs {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0px;
}

ul.tabs li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

ul.tabs li.selected {
	font-weight: bold;
	color: #4e9a06;
}

ul.tabs a {
	margin: 0px;
	padding: 3px;
}

.style-name { font-size: 1.2em; font-weight: bold; }
#change-style { margin-top: 1em; }
#change-style ul { margin: 0; padding: 0; overflow: hidden; display: inline-block; list-style: none; width: 700px; }
#change-style li {  float: left; margin-right: 1.5em; margin-top: 1em; text-align: center; font-size: 1.1em; }
#change-style img { border: none; text-decoration: none; }
div.preview-image { width: 100px; height: 100px; border: 1px solid #000; cursor: pointer; }
div.preview-image:hover { border: 1px solid #7a0; }
#current-style td.preview-image { width: 100px; height: 100px; }

#plugins dl { margin: 0; }
#plugins dt { float: none; }
#plugins dd { margin: 0; font-size: 0.85em; }

.status { width: 5em; text-align: center; }
td.enabled { background-color: lightgreen; }
td.disabled { background-color: pink; }

.empty { border: 2px solid red; }

#operations { margin: 0; padding: 0; list-style: none; }

#pages { list-style: none; margin: 0; padding: 0.5em; }
#pages li { display: inline; padding: 0 5px; }
#pages li.here { font-weight: bold; }
.first a, .last a, .next a, .prev a {
    border: 1px solid #ccc;
    padding: 0 4px;
    background-color: #eee;
    text-decoration: none;
}
.prev a, .next a { padding: 0 5px; }
.first a:hover, .last a:hover, .next a:hover, .prev a:hover {
    background-color: #333;
}
