#meta a {
	color: #000;
}

#dialog {
	font-size: 13px;
	font-family: Verdana, Tahoma, sans-serif;
	line-height: 1.5;
}
#dialog a {
	color: #000;
}

#dialog-overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-image: url(spacer.gif);
}
#dialog {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background-color: #fff;
	border: 5px solid #aaa;
}

#dialog h1 {
	margin: 0 !important;
	font-size: 1em;
	padding: 0.3em 0.5em;
	background: transparent url(header.png) repeat-x;
}
#dialog form {
	margin: 1em;
}
#dialog-close {
	float: right;
	margin: 0.25em;
	padding: 0 0.25em;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

#meta.theme-only #flash_message,
#flash_message {
	border: 1px solid green; 
	padding: 7px; 
	background: #9e9; 
	color: green;
}
#meta.theme-only #error_messages,
#error_messages {
	border: 2px solid red;
/*	padding: 7px;
	padding-bottom: 12px;*/
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#meta.theme-only #error_messages h2,
#error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;

}
#meta.theme-only #error_messages ul {
	padding: 1em;
	margin: 0 1em;
}

#meta.theme-only #error_messages li,
#error_messages li {
	font-size: 12px;
	list-style: square;
	margin: 0;
}
.field_error {
	border: 2px solid red;
}

#meta.theme-only {
	font-size: 13px;
	font-family: Verdana, Arial, sans-serif;
	margin: 2em;
}
#meta.theme-only h1 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
}
#meta.theme-only h2 {
	font-size: 1.2em;
	margin: 0;
}

#openid_identifier{
	background: #fff url(/media/login-openid.gif) no-repeat 0 50%; padding-left: 18px;
}

#signup-form fieldset input.error,
#signup-form fieldset textarea.error {
	border: 2px solid red;
}
#login-form label.field,
#openid-form label.field,
#signup-form label,
#account-edit-form label,
#forget-password-form label,
#reset-password-form label,
#signup-form label {
	width: 8em;
	float: left;
	font-weight: bold;
}
#login-form input.button,
#openid-form input.button,
#signup-form input.button,
#account-edit-form input.button,
#forget-password-form input.button,
#reset-password-form input.button,
#signup-form input.button {
	float: none;
	width: 81px;
	height: 27px;
	background: url(button.png) no-repeat;
	text-decoration: none;
	padding: 4px 0;
	text-align: center;
	margin-right: 1em;
	border: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
}
fieldset {
	border: none;
	margin: 0 0 1em 0;
	padding: 0;
}
.star {
	color: #f00;
	font-weight: bold;
}
#profile {
	line-height: 1.8;
}
#dialog #profile {
	margin: 0 1em;
}
#profile .email, #profile .homepage {
	margin: 0;
}
#profile .name {
	font-size: 1.2em;
	font-weight: bold;
}
#profile #signature {
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	padding: 0.5em;
	margin-bottom: 1em;
}
#profile #signature p {
	margin: 0;
}
#profile a {
	color: #000;
}
#profile #info {
	border-top: 1px solid #ccc;
}
.meta-error {
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	width: 20em;
	padding: 0.5em;
	margin-bottom: 1em;
}
