body {
    margin: 0;
    font-family: verdana, sans-serif;
	background-color: #333;
    font-size: 14px;
}

#meta-admin {
    border: 5px solid #ccc;
    margin: 20px;
    background: url(bg.png) repeat-x #fff;
}

a {
    color: #4E9A06;
}
a:hover {
    background-color: #efc;
}

h1 {
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 2.2em;
    margin: 20px 20px 0 20px;
}

h2 {
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 1.4em;
    margin-bottom: 0.5em;
	margin-top: 0;
}

table {
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: #eee;
    border: 1px solid #ccc;
}
table td {
    border: 1px solid #ccc;
}
table th, table td {
    padding: 0.5em;
}

div.left {
    float: left;
}
div.right {
    float: right;
}

.description {
	font-size: 0.8em;
	color: #666;
}

.flash {
    padding: 0.5em;
    width: 50%;
    border: 1px solid red;
    background-color: pink;
}
.flash p {
    margin: 0;
}
.pass {
    border: 1px solid green;
    background-color: lightgreen;
}

#header {
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid #ccc;
}
#header p {
    margin: 0;
}

#body {
    margin: 20px;
}

#boards .name {
    width: 150px;
}
#boards .name form { display: inline; }
#boards td.actions {
    color: #999;
}

form p {
	clear: both;
}
dt {
	float: left;
    width: 10em;
}
dd {
	margin-bottom: 0.5em;
	clear: right;
}

#header, #body {
    clear: both;
}

#users .name {
    width: 200px;
}

#users .level {
    text-align: center;
}

ul.tabs {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0px;
}

ul.tabs li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

ul.tabs li.selected {
	font-weight: bold;
	color: #4e9a06;
}

ul.tabs a {
	margin: 0px;
	padding: 3px;
}

#skin ul { list-style: none; margin: 0 0 1em 0; padding: 0; }
.style-name { font-size: 1.1em; font-weight: bold; }
.creator { font-size: 0.8em; }

#plugins dl { margin: 0; }
#plugins dt { float: none; }
#plugins dd { margin: 0; font-size: 0.85em; }

.status { width: 5em; text-align: center; }
td.enabled { background-color: lightgreen; }
td.disabled { background-color: pink; }

.empty { border: 2px solid red; }
