* {
	margin: 0;
	padding: 0;
}
body {
	margin: 2em;
	line-height: 1.8;
	font-family: 돋움, Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 2em;
	font-family: 돋움, Helvetica, Arial, sans-serif;
	color: #7a0;
}
h2 {
	font-size: 1.2em;
	margin-top: 1em;
	color: #000;
	border-bottom: 1px solid #000;
}
p, pre {
	margin-top: 0.5em;
}
ol, ul {
	margin: 1em 3em;
}
a {
	color: #7a0;
}
a:hover {
	background-color: #efc;
}
code, pre.code {
	background-color: #eee;
	font-family: Monaco, "Courier New", sans-serif;
}
.note {
	font-size: 0.8em;
	color: #666;
}
img {
	border: 1px solid #000;
}
