@import url("base.css");
body {
	margin: 0;
}
#container {
	font: 14px/1.8 "Lucida Sans Unicode", Verdana, sans-serif;
	overflow: auto;
}
#container a { color: #7a0; }
#container a:hover { background-color: #efc; }
a img { border: none; }

#header { padding: 1em; background: #efc url(bg.png) repeat-x bottom; }
#content { padding: 1em; padding-left: 1.5em; float: left; margin-right: 250px; }
#sidebar { float: left; width: 200px; margin-left: -250px; font-size: 0.9em; padding: 1em; }
#footer { clear: both; overflow: hidden; padding: 1em; font-size: 0.8em; width: 95%; margin: auto; }

h1 { font-family: "Trebuchet MS", Verdana, sans-serif; margin: 0; }
h1 a { text-decoration: none; }
#container h1 a:hover { background-color: transparent; text-decoration: underline; }
h5 { font-size: 1.2em; background-color: #efc; border-bottom: 1px solid #7a0; margin-bottom: 0.5em; }

.atomentry { margin-bottom: 1em; }
.comment_count { display: none; }
h2.title { font-size: 1.4em; margin: 0; }
.author { font-size: 0.8em; margin: 0; }
.meta { list-style-type: none; margin: 0; padding: 0; }
.meta li { font-size: 0.8em; }

.comments ol { margin-left: 2em !important; }

#sidebar a { color: #444; }
#sidebar a:hover { background-color: #444; color: #fff; text-decoration: none; }

#footer hr { display: none; }
#footer p { float: left; margin: 0; }
#footer ul { float: right; margin: 0; padding: 0; list-style: none; }
