BODY {
    font-size: 13px;
    font-family: Verdana, sans-serif;
}

#meta {
    width: 600px;
}

/*
DIV DIV { border: 1px solid red; }
DIV { border: 1px solid blue; }
*/

P, LI {
    line-height: 1.5em;
}

IMG {
    border: none;
    vertical-align: middle;
}

A {
    color: #000;
}
A:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.feed {
	padding-left: 0.5em;
}
A.feed:hover {
	background-color: #fff;
}
SMALL {
    font-size: 10px;
}
P LABEL {
    width: 100px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 0.5em;
}

#header {
    padding-bottom: 1em;
    clear: both;
    border-bottom: 1px solid #ccc;
}

H1 {
    font-size: 2em;
    font-family: georgia, serif;
    margin: 0.3em 0;
}
#header H1 {
    text-align: center;
}
#description {
    text-align: center;
    margin: 0;
}

H2, H3 {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: normal;
}
H2 {
    font-size: 20px;
    margin: 0;
}
DIV.title {
    border-bottom: 1px solid #666;
    float: left;
    clear: both;
    margin-bottom: 1em;
    padding: 3px;
    width: 100%;
}
DIV.title H2 {
    float: left;
}
DIV.title .info {
    float: right;
}
DIV.title .info P {
    margin: 0;
}
P.body {
    clear: both;
}
H3 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}
H1 A, H2 A {
    text-decoration: none;
    color: inherit;
}

#sidebar {
    float: right;
    width: 200px;
    margin: 0 20px;
}

#content {
    float: left;
    padding: 0 20px;
}

.info {
    font-size: 12px;
}

#list {
    border-collapse: collapse;
    width: 100%;
}
#list th {
    border-bottom: 1px solid #666;
    text-align: center;
    font-weight: normal;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px;
}
#list td {
    padding: 0.5em;
}
#list td {
    border-bottom: 1px solid #ddd;
}
td.name, td.date {
    text-align: center;
}
td.name {
    width: 100px;
}
td.date {
    width: 120px;
}
caption {
    text-align: left;
    margin-bottom: 10px;
}

.blank {
    border: 2px solid red;
}

#comments ul {
    margin: 0;
    padding: 0;
}
.comment {
    list-style: none;
    padding: 0.5em;
    border: 1px solid #ccc;
    background: url(bg.png) repeat-x;
    margin-bottom: 1em;
}
.comment .info {
    font-weight: bold;
    padding-bottom: 3px;
}
.comment .info small {
    font-weight: normal;
}

#attachments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#attachments ul li {
    margin-bottom: 1em;
}

textarea {
    line-height: 1.5;
    font-size: 13px;
    font-family: verdana, sans-serif;
    padding: 0.1em 0.5em;
}

#pages {
    list-style: none;
    margin: 0;
    padding: 0.5em;
}
#pages li {
    display: inline;
    padding: 0 2px;
}
#pages li.here {
    font-weight: bold;
}
.first a, .last a, .next a, .prev a {
    border: 1px solid #ccc;
    padding: 0 4px;
    background-color: #eee;
    text-decoration: none;
}
.prev a, .next a {
    padding: 0 5px;
}
.first a:hover, .last a:hover, .next a:hover, .prev a:hover {
    background-color: #333;
}

#sending {
	display: none;
}
#sending img {
	margin: 0 5px;
}
.star {
    color: red;
}
.flash {
    background-color: #ffffee;
    border: 1px solid #ddd;
    padding: 0.5em;
}
.flash p {
    margin: 0;
}
.new {
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.highlight {
    background-color: yellow;
}

#profile {
	background-color: lightyellow;
	border: 1px solid #ccc;
	padding: 0 1em;
	margin-bottom: 10px;
}
#profile big {
	font-weight: bold;
}
