#meta { font-size: 13px; font-family: Verdana, sans-serif; }

#meta p, #meta li { line-height: 1.5; }
#meta img { border: none; vertical-align: middle; }

#meta a { color: #7a0; text-decoration: none; }
#meta a:hover { text-decoration: underline; }

#rss-feed { padding-left: 0.5em; }
a#rss-feed:hover { background-color: #fff; }

#meta p label {
    width: 100px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 0.5em;
	color: #7a0;
	font-weight: bold;
}

#meta h1 { font-size: 1.8em; margin: 0.3em 0; color: #7a0; display: none; }
#meta h2, #meta h3 { font-weight: normal; }
#meta h3 { font-size: 1.2em; border-bottom: 1px solid #ccc; padding: 3px; }

#post { border: 2px solid #7a0; padding: 1em; }
.post-title { background-color: #efc; overflow: hidden; padding: 0.5em; display: inline-block; }
.post-title h2 { font-weight: bold !important; font-size: 1.2em; margin: 0; border-bottom: 1px solid #aaa; padding: 0.5em; color: #7a0; }
.post-title .info { float: right; margin-top: 3em; padding: 1em; font-size: 0.85em; }
#body { margin: 1em; }

#posts { border-collapse: collapse; width: 100%; }
#posts caption { text-align: left; margin: 0.5em 0 1em 0.5em; }

#posts tr.notice { background-color: #ffffee; }
#posts th {
	border-top: 5px solid #7a0;
	border-bottom: 1px solid #7a0;
    text-align: center;
    padding: 0.5em;
	color: #7a0;
}
#posts td { padding: 0.5em; border-bottom: 1px solid #ddd; }
.secret { font-size: 0.9em; color: #aaa; }
.comment-count { font-size: x-small; }
.views { font-size: x-small; color: #999; }
#signature { font-size: 90%; border-top: 1px solid #ccc; width: 50em; }

td.name, td.date { text-align: center; }
td.name { width: 8em; }
td.date { width: 9em; }

.massdelete { width: 30px; text-align: center; }

#comments ul { margin: 0; padding: 0; list-style: none; }
#comments ul ul { margin-left: 2em; }
.comment {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: url(bg.png) repeat-x;
	margin-bottom: 1em;
}
.comment .info { padding-bottom: 3px; }
.comment .body p { margin: 0; }
span.name { font-weight: bold; }
span.date { font-size: x-small; }
span.actions { font-size: 0.9em; }

#attachments { clear: both; }
#attachments ul { list-style: none; margin: 0; padding: 0; }
#attachments ul li { margin-bottom: 1em; }

.blank { border: 2px solid red; }
#meta textarea, #meta input { padding: 1px; font-family: verdana, sans-serif; }
#meta textarea { font-size: 13px; line-height: 1.5; border: 3px solid #ddd; padding: 0.5em; margin: 0 0.5em; }

#pages { list-style: none; margin: 0; padding: 0.5em; }
#pages li { display: inline; padding: 0 2px; }
#pages li.here { font-weight: bold; }
.first a, .last a, .next a, .prev a {
    border: 1px solid #ccc;
    padding: 0 4px;
    background-color: #eee;
    text-decoration: none;
}
.prev a, .next a { padding: 0 5px; }
.first a:hover, .last a:hover, .next a:hover, .prev a:hover {
    background-color: #333;
}

#reply-form { margin-left: 2em; }
#sending { margin: 0 5px; background: url(spin.gif) no-repeat; padding-left: 16px; color: #fff; }

.star { color: red; }
.flash { background-color: #ffe; border: 1px solid #ddd; padding: 0.5em; }
.flash p { margin: 0; }
.highlight { background-color: yellow; }

#profile {
	background-color: lightyellow;
	border: 1px solid #ccc;
	padding: 0 1em;
	margin-bottom: 10px;
}
#profile .name { font-size: 1.1em; }

fieldset { border: none; margin: 0; padding: 0; }

#nav {
	font-size: 0;
	margin: 0.5em 0;
}
#nav a {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.4em 0.6em;
	background-color: #f4f4f4;
	color: #666;
	font-size: 13px;
	text-decoration: none !important;
	margin-right: 0.5em;
}
#nav a:hover {
	background-color: #eee;
}
