body { margin: 1em; }
#meta { font-size: 13px; font-family: Verdana, sans-serif; }

#meta p, #meta li { line-height: 1.5; }
#meta img { border: none; vertical-align: middle; }
#meta a { color: #36c; }
#meta a:hover { text-decoration: none; }
#meta form { margin: 0; clear: both; }

/* list */
#board-info { padding: 1em 0.5em; font-size: 0.95em; float: left; }
#meta-account { float: right; padding: 1em; font-size: 0.95em; color: #ccc; }
#rss-feed { padding-left: 0.5em; }
#categories { clear: both; padding-bottom: 1em; padding-left: 0.5em; }
#categories strong { font-size: 0.95em; }
.category { padding-left: 0.5em; }
.category .posts-count { font-size: 0.8em; color: #999; }
#posts { clear: both; border-collapse: collapse; width: 100%; border-top: 4px solid #06e; }

#posts tr.notice { background-color: #eff7ff; }
#posts td { padding: 5px; border-bottom: 1px solid #ddd; }
#posts td.meta { width: 12em; padding-left: 10px; }
.massdelete { width: 30px; text-align: center; }

div.writer { font-weight: bold; }
div.date { font-size: 10px; }
div.meta { font-size: 11px; padding-top: 0.5em; font-family: Dotum, Verdana, sans-serif; color: #777; }

.secret { font-size: 12px; color: #aaa; }
.comments-count { font-size: xx-small; }
.views { font-size: x-small; color: #999; }

#meta-actions { padding: 0.5em; float: left; }
#meta-nav { float: right; text-align: right; padding: 0.5em; margin-bottom: 2em; }
#pages { list-style: none; margin: 0; padding-bottom: 1em; }
#pages li { display: inline; padding: 0 2px; }
#pages li.here { font-weight: bold; }
.first a, .last a, .next a, .prev a {
    border: 1px solid #ccc;
    padding: 0 4px;
    background-color: #eee;
    text-decoration: none;
}
.prev a, .next a { padding: 0 5px; }
.first a:hover, .last a:hover, .next a:hover, .prev a:hover {
    background-color: #333;
}

/* view */
.post-title { background-color: #eff7ff; padding: 0.5em; border-bottom: 1px solid #ccc; border-top: 4px solid #06e; }
.post-title h2 { font-size: 1em; color: #06c; margin: 0.2em 0.5em; }
.post-title .info { font-size: 12px; padding: 0.4em; }

#attachments { padding: 0.5em; }
#attachments ul { list-style: none; margin: 0; padding: 0; }
#attachments ul li { margin-bottom: 1em; background: url(attach.png) no-repeat left 3px; padding-left: 20px; }
#attachments ul li img { margin-top: 10px; margin-left: -10px; }

#body { margin: 1em; }
#editinfo { color: #999; font-size: 12px; text-align: right; }
#signature { font-size: 90%; border-top: 1px solid #ccc; width: 50em; }

#responses {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 1em;
	font-size: 12px;
}
#responses h3 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #06c;
}

#trackbacks {
	padding-bottom: 1em;
}

#comments ul { margin-left: 0; padding-left: 0; list-style: none; }
#comments ul ul { margin-left: 2em; }
.comment {
    border-top: 1px dotted #999;
	overflow: hidden;
	display: inline-block;
	padding: 0.5em;
}
.comment .info div { display: inline; }
.comment .body { padding: 0.5em 0; }
.comment .body p { margin: 0; }
.comment .name { font-weight: bold; }
.comment .date { font-size: x-small; }
.comment .actions { margin-left: 0.5em; font-size: 11px; font-family: Dotum, Verdana, sans-serif; color: #777; }
#reply-form { margin-left: 2em; }

/* write */
#postform { border-top: 4px solid #06e; border-collapse: collapse; background-color: #eff7ff; width: 50em; }
#postform td { padding: 0.8em 0.5em; }
#postform th { width: 6em; color: #06c; font-size: 12px; }
#postform td.name { width: 11em; }
#postform .body { text-align: center; padding-top: 1em; padding-bottom: 1em; }
#postform .options td { padding: 0 0.5em; }
#post_title { width: 95%; }
#post_body { width: 96.5%; }

.blank { border: 1px solid red; }
#postform, #meta select, #meta textarea, #meta input { font-family: verdana, sans-serif; font-size: 12px; }
#postform input, #postform textarea { padding: 2px; }
#meta textarea { font-size: 13px; line-height: 1.5; }
#upload {
	border-top: 1px dotted #aaa;
	border-bottom: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 1em;
	font-size: 12px;
	width: 48em;
}
#upload h3 {
	font-size: 1em;
	margin: 0;
}
#upload h3 a {
	font-weight: normal;
	margin-left: 0.5em;
}
#sending { margin: 0 5px; background: url(spin.gif) no-repeat; padding-left: 16px; color: #fff; }

.star { color: red; }
.flash { background-color: #ffe; border: 1px solid #ddd; padding: 0.5em; }
.flash p { margin: 0; }
.highlight { background-color: yellow; }

#profile {
	background-color: lightyellow;
	border: 1px solid #ccc;
	padding: 0 1em;
	margin-bottom: 10px;
}
#profile .name { font-size: 1.1em; }

fieldset { border: none; margin: 0; padding: 0; }
