#meta { font-size: 13px; font-family: Verdana, sans-serif; }

#meta p, #meta li { line-height: 1.5; }
#meta img { border: none; vertical-align: middle; }

#meta a { color: #000; }
#meta a:hover { background-color: #000; color: #fff; text-decoration: none; }

#rss-feed { padding-left: 0.5em; }
a#rss-feed:hover { background-color: #fff; }

#meta p label {
    width: 100px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 0.5em;
}

#meta h1 { font-size: 1.8em; margin: 0.3em 0; }
#meta h2, #meta h3 { font-weight: normal; }
#meta h2 { font-size: 1.5em; margin: 0; }
#meta h3 { font-size: 1.2em; border-bottom: 1px solid #ccc; padding: 3px; }

.post-title { border-bottom: 1px solid #666; padding: 5px; }
.post-title h2 { font-weight: bold; font-size: 1.2em; display: inline; }
.post-title .info { font-size: 12px; padding: 3px; float: right; }

#posts { border-collapse: collapse; width: 100%; }
#posts caption { text-align: left; margin: 0.5em 0; }

#posts tr.notice { background-color: #ffffee; }
#posts th {
    border-bottom: 1px solid #666;
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    padding: 5px;
}
#posts td { padding: 0.5em; border-bottom: 1px solid #ddd; }
.secret { font-size: 0.9em; color: #aaa; }
.comment-count { font-size: x-small; }
.views { font-size: x-small; color: #999; }
#signature { font-size: 90%; border-top: 1px solid #ccc; width: 50em; }

td.name, td.date { text-align: center; }
td.name { width: 8em; }
td.date { width: 9em; }

.massdelete { width: 30px; text-align: center; }

#comments ul { margin: 0; padding: 0; list-style: none; }
#comments ul ul { margin-left: 2em; }
.comment {
    padding: 0.5em;
    border: 1px solid #ccc;
    background: url(bg.png) repeat-x;
	margin-bottom: 1em;
}
.comment .info { padding-bottom: 3px; }
.comment .body p { margin: 0; }
span.name { font-weight: bold; }
span.date { font-size: x-small; }
span.actions { font-size: 0.9em; }

#attachments { clear: both; }
#attachments ul { list-style: none; margin: 0; padding: 0; }
#attachments ul li { margin-bottom: 1em; }

.blank { border: 2px solid red; }
#meta textarea, #meta input { padding: 1px; font-family: verdana, sans-serif; }
#meta textarea { font-size: 13px; line-height: 1.5; }

#pages { list-style: none; margin: 0; padding: 0.5em; }
#pages li { display: inline; padding: 0 2px; }
#pages li.here { font-weight: bold; }
.first a, .last a, .next a, .prev a {
    border: 1px solid #ccc;
    padding: 0 4px;
    background-color: #eee;
    text-decoration: none;
}
.prev a, .next a { padding: 0 5px; }
.first a:hover, .last a:hover, .next a:hover, .prev a:hover {
    background-color: #333;
}

#sending { margin: 0 5px; }

.star { color: red; }
.flash { background-color: #ffe; border: 1px solid #ddd; padding: 0.5em; }
.flash p { margin: 0; }
.highlight { background-color: yellow; }

#profile {
	background-color: lightyellow;
	border: 1px solid #ccc;
	padding: 0 1em;
	margin-bottom: 10px;
}
#profile .name { font-size: 1.1em; }
