* {
	font-family: verdana, sans-serif;
}
body {
	background: url(bg.png) repeat-x;
}
a {
	color: #0066CC;
}
h1 {
	float: right;
	font-size: 1.4em;
	margin: 0;
}
#nav, #contents {
	clear: both;
}
#contents {
	margin-top: 20px;
	background-color: #fff;
	font-size: 0.8em;
}
#nav ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#nav li {
	display: block;
	float: left;
	clear: right;
	padding: 2px;
	margin-right: 5px;
}
#nav li a {
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
}
#nav li a:hover {
	border-bottom: 2px solid #DDEEFF;
}
hr {
	clear: both;
	visibility: hidden;
}
#create {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}
#create th, td {
	padding: 5px 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#create th {
	background-color: #f7f7f7;
}
#create td input {
	border: 2px solid #ccc;
	padding: 2px;
}
.required {
	color: orange;
}
#legend {
	padding: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
#license {
	font-family: "Courier New", monospace;
	border: 1px solid #ccc;
	background-color: #fffff7;
	padding: 5px;
}
