#dialog {
	font-size: 13px;
	font-family: Verdana, Tahoma, sans-serif;
	line-height: 1.5;
}
#dialog a {
	color: #000;
}

#dialog-overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-image: url(spacer.gif);
}
#dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -150px;
	width: 400px;
	height: 300px;
	background-color: #fff;
	border: 10px solid #aaa;
}

#dialog h1 {
	margin: 0 !important;
	font-size: 1em;
	padding: 0.3em 0.5em;
	background: transparent url(header.png) repeat-x;
}
#dialog form {
	padding: 1.5em;
}
#dialog-close {
	float: right;
	font-weight: bold;
	margin: 0.5em;
}
